html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --color-text: rgb(38, 38, 38);
  --color-text-faded: rgb(100, 100, 100);
  --color-text-highlight: rgb(217, 247, 240);
}

div {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: futura-pt-bold, sans-serif;
  color: var(--color-text);
}

p {
  font-family: baskerville-display-pt, serif;
  color: var(--color-text);
}

a {
  color: var(--color-text);
  transition: color 0.3s ease-in-out 0s, transform 0.3s ease-in-out 0s;
  font-family: futura-pt-bold, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.2rem;
  margin: 0px;
  text-decoration: none;
}

a:hover {
  color: var(--color-text-highlight);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}
